.App {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 12px;
}

.search-button{
  background: linear-gradient(135deg, #999a9c 0%, #c3cfe2 100%);
  border: none;
  padding: 12px 24px;
  color: white;
  font-size: 2vh;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
